body
{
	background-color: #DFEAEA;
}

h1
{

	font-family: arial, sans-serif;
	font-size: 80px;
	font-weight: 100;
	letter-spacing: 16pt;
	word-spacing: 17pt;
}

h2
{
	font-family: arial, sans-serif;
	font-size: 60px;
	font-weight: 100;
	letter-spacing: 16pt;
	word-spacing: 17pt;
}

.work_description
{
	font-family: helvetica, sans-serif;
	font-size: 17px;
	letter-spacing: 3pt;
}

.php_header
{
	text-align: center;
	font-family: helvetica, sans-serif;
	display: block;
	background: #A0A0A0;

}

.footer
{
	font-family: helvetica, sans-serif;
	padding:1em;
	display: block;
	background:#33CCFF;
	text-align: center;
}