
h1{
	font-family: arial
}
body{
	display: block;
	background-color: DarkGrey;
    border: 1px solid black;
    font-family: arial;
}

h2{
	font-family: arial;
}

.MainContent{
	display: block;
	padding-top:10px;
	background-color: #F4F4F3;
	padding-right: 10px;
	padding-left: 10px;
}

/*Life Progress box floated right*/
.LifeProgress{
	background-color:#CDCDFF;
	padding: 5px;
	display: block;
	float:right
}

/*copywrite bar at the bottom*/
.footer{
	text-align: center;
	border:1px;
	background-color: #D9D9D1;
	padding:15px;

}

/*Title and banner at the top of the page*/
.TopHeader{
	border:1px solid black;
	background-color: #E1DFDD;
	padding-left: 5px;

}

.subtitle{
	font-color:#6B6B6A;
	font-family: arial;
}

/*Horizontal black menu bar*/
.NavigationBar{
	display:block;
	border:1px;
	background-color: black;
}
/*Formatting for menu bar*/
li {
    display: inline;
    font-family: arial;
    color:white;
    padding: 10px;
}
ul{
	display:block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px;
}

/*Formatting for links*/
a:hover {
  color: #FF6633 ;
}

a{
	font-family: arial;
	color:white ;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

/*Formatting/alignment propeties for form items*/
form{
	overflow: hidden;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
}
input {
  display: inline-block;
  float: left;
}

select{
	display: inline-block;
	float:left;
}

/*Image needs to float right underneath Life Progress box*/
img{
	/*display: inline-block;
	float:right;
	vertical-align: middle;*/

}
